.contact-inquiry {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif; 
    margin-bottom: 30px; /* Adjust spacing as needed */
    padding-left: 10vw; /* Align with top text */
    padding-top: 20vh; 
}

.text-start{
    color: #264D4C; 
    font-family: "Libre Baskerville", serif; 
    font-size: 48px; 
    font-weight: 500;
}

.underline-contact {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif; 
    margin-bottom: 30px; /* Adjust spacing as needed */
    font-size: 48px; 
    font-weight: 500;
    border-bottom: 4px solid #AF6900; /* adjust border as needed */
    padding-bottom: 3px;
  }

  .form-row {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px; 
    flex-wrap: nowrap;
    padding-left: 10vw;
    width: 80%; 
    gap: 80px;
  }

  .form-row .form-group {
    flex-basis: 48%;
  }
  
  .form-group {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    margin-bottom: 20px; 
  }

  .form-group label {
    flex-basis: 40%;
    font-family: "Libre Baskerville", serif; /* Font family */
    font-size: 18px; /* Font size */
    font-weight: 500; /* Font weight */
    color: #264D4C; /* Text color */
    margin-right: 5px; 
    margin-bottom: 10px; 
  }

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="tel"], 
.form-group input[type="date"] {
    flex-grow: 1;
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    outline: none; 
    font-family: "Libre Baskerville", serif;
}

.form-group select {
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-family: "Libre Baskerville", serif;
}

.phone-input {
    width: 70%;
  }

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 30vh; /* Set minimum height */
    min-width: 55vw;
  }
  
  .form-group input[type="checkbox"] {
    display: inline-block;
    vertical-align: top; /* Align checkbox with text */
    margin-right: 10px; /* Add space between checkbox and label */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .form-group label {
    font-weight: normal; /* Remove bold font weight */
    display: inline-block; 
  }
  
  .form-group select[name="countryCode"] {
    width: 100px; /* Adjust select width */
    margin-right: 10px;
  }
  
  .form-group input[type="tel"][name="phone"] {
    flex-grow: 1; /* Take remaining space */
  }

  .form-group.checkbox-group {
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Align items to left */
  }

  .submit-btn {
    font-family: "Libre Baskerville", serif; 
    font-size: 18px; 
    background-color: #264D4C; /* Green */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px; /* Adjust spacing as needed */
    margin-left: 10vw;
  }

  .submit-btn:hover {
    border: 2px solid #fff; /* White border on hover */
    box-shadow: 0 0 0 2px #264D4C, 0 0 0 4px #fff; /* Optional box-shadow */
    transition: 0.35s ease-out;
  }
