body {
  margin: 0; /* Remove default body margin */
  background-image: url('../../public/images/homebg.svg');
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  display: flex; 
  flex-direction: column;
}
  .ComingSoon {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 80%; 
    padding: 0 20px;
  }

  .image-container {
    border-width: 3px;
    border-style: solid; 
    border-image: linear-gradient(to right, #E5AC5B, #8E5F33) 1;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 850px; 
    margin-bottom: 10%;
  }
  
  .main-text {
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 10px; 
    line-height: 1.5;
    padding-bottom: 5px;
  }

  .signature {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400; 
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;
    text-align: right;
    line-height: 1.5;
    margin-top: -10px;
  }
  .brandLogoMain {
    height: 160px;
    width: auto;
    padding-bottom: 15px;
    padding-top: 20px; 
  }
  /* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .ComingSoon {
    width: 95%;
    padding: 0 5px;
  }
  .image-container {
    padding: 15px;
    max-width: 95%;
  }
  .main-text {
    font-size: 16px;
  }
  .signature {
    font-size: 30px;
  }
  .brandLogoMain {
    height: 150px;
    margin-bottom: 15px;
    padding-top: 5px;
  }
}
