body {
  margin: 0; /* Remove default body margin */
}
  .ComingSoon {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 80%; 
    padding: 0 20px;
  }

  .image-container {
    border-width: 3px;
    border-style: solid; 
    border-image: linear-gradient(to right, #E5AC5B, #8E5F33) 1;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 700px; 
    margin-bottom: 10%;
  }
  
  .main-text {
    text-align: justify;
    font-size: 23px;
    color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
  }

  .signature {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400; 
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
    text-align: right;
  }
  .brandLogoMain {
    height: 300px;
    width: auto;
    margin-bottom: 30px;
    padding-top: 20px; 
  }