
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; 
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
  }

  footer .inner {
    display: flex; 
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 0;
  }

  .footer-content {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-items: baseline;
  }

  .social-media-icons {
    display: inline-flex;
  }
  
  .social-media-icons a {
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
  }
  .contact-us {
    margin-left: 20px; 
    color: #fff; 
    font-family: "Libre Baskerville", serif;
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: #fff;
  }
  
  .text-left {
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-size: 12px; 
    margin-right: 20px;
    padding-top: 5px;
    line-height: 1.5;
  }

  @media only screen and (max-width: 768px) {
    footer {
      position: relative; /* Change to relative */
      height: auto; /* Adjust height */
    }
    footer .inner {
      flex-direction: column; /* Stack elements vertically */
      padding-left: 15px; /* Adjust padding */
      padding-right: 15px; /* Adjust padding */
    }
    .social-media-icons {
      margin-left: 0; /* Reset margin */
      padding-bottom: 20px; /* Add padding */
    }
  }
  
  