body {
    margin: 0; 
  }
.home-container {
    background-image: url('../../public/images/blueagave.png');
    width: 100vw;
    height: 60vh; 
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 0 !important;
  }

.text-container {
    text-align: left;
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
    line-height: .7;  
    padding-left: 18vw; 
    padding-bottom: 100px;  
}

.bold {
    font-weight: bolder;
}

.underline {
    border-bottom: 3px solid #fff; /* adjust border as needed */
    padding-bottom: 3px;
}
.custom-color {
    color: #AF6900; /* replace with your desired color */
    text-align: left;
    font-size: 12px;
}

.bottom-text {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif; 
    margin-bottom: 30px; /* Adjust spacing as needed */
    padding-left: 80px; /* Align with top text */
  }
  
  .bottom-text p {
    font-size: 12px; /* Adjust font size as needed */
    line-height: 1.6;  /* Adjust line height as needed */
  }

  .underline-color {
    font-size: 50px; 
    font-weight: bolder;
    border-bottom: 3px solid #AF6900; /* adjust border as needed */
    padding-bottom: 3px;
  }
  .we-are {
    font-size: 35px !important;
    line-height: 0 !important; 
    padding-top: 40px; 
  }

  .alumbrados {
    font-size: 48px; /* match font size with Los */
    font-weight: bolder; /* make Alumbrados bold */
    line-height: .5 !important;
  }

  .custom-text {
    font-size: 12px; /* adjust to match "We love our craft" size */
    line-height: 1.6;
  }

  .vision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px; /* adjust padding as needed */
    text-align: center;
  }
  
  .vision {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .vision-text {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
  }
  
  .invitation {
    display: block; 
    margin: 0 auto; 
    width: 50%; /* adjust image width as needed */
    padding-bottom: 40px;
  }

  .connect {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 15px;
  }

  .connect-container {
    text-align: center;
    padding-bottom: 50px; 
  }

  .connect-button {
    display: inline-block;
    margin: 20px auto; 
    text-align: center;
    font-family: "Libre Baskerville", serif;
    padding: 10px 20px;
    border-top: 1.5px solid #AF6900;
    border-bottom: 1.5px solid #AF6900;
    background-color: transparent;
    color: #264D4C;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .home-container {
      height: 100vh; /* adjust height for mobile */
      justify-content: center; /* center content vertically */
    }
  
    .text-container {
      font-size: 24px; /* reduce font size for mobile */
      padding-left: 20px; /* reduce padding for mobile */
      padding-bottom: 50px; /* reduce padding for mobile */
    }
  
    .bottom-text {
      margin-bottom: 20px; /* reduce margin for mobile */
      padding-left: 20px; /* reduce padding for mobile */
    }
  
    .bottom-text p {
      font-size: 14px; /* reduce font size for mobile */
      line-height: 1.4; /* adjust line height for mobile */
    }
    .vision-text {
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .connect {
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .connect-button {
        padding: 10px;
        font-size: 18px;
      }
    
      .invitation {
        width: 100%; /* adjust image width for mobile */
      }
    
      .custom-color {
        font-size: 10px;
      }
    
      .underline-color {
        font-size: 30px;
      }
    
      .alumbrados {
        font-size: 30px;
      }
    
      .we-are {
        font-size: 25px;
        padding-top: 20px;
      }
  }
  