  
  .Home {
    padding-top: 80px;
    width: 80%; 
    margin: 40px auto; 
  }

  .image-container {
    border-width: 2px;
    border-style: solid; 
    border-image: linear-gradient(to right, #E5AC5B, #8E5F33) 1;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 700px; 
    margin: 40px auto;
  }

  .home-text {
    text-align: justify;
    font-size: 23px;
    color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
  }

  .signature {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400; 
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
    text-align: right;
  }
  