body {
    margin: 0; 
  }
.home-container {
    background-image: url('../../public/images/blueagave.png');
    width: 100vw;
    height: 60vh; 
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 0 !important;
  }

.text-container {
    text-align: left;
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
    line-height: .7;  
    padding-left: 18vw; 
    padding-bottom: 100px;  
}

.bold {
    font-weight: bolder;
}

.underline {
    font-weight: bolder;
    border-bottom: 3px solid #fff; /* adjust border as needed */
    padding-bottom: 3px;
}
.custom-color {
    color: #AF6900; /* replace with your desired color */
    text-align: left;
    font-size: 12px;
}

.bottom-text {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif; 
    margin-bottom: 30px; /* Adjust spacing as needed */
    padding-left: 80px; /* Align with top text */
  }
  
  .bottom-text p {
    font-size: 12px; /* Adjust font size as needed */
    line-height: 1.6;  /* Adjust line height as needed */
  }

  .underline-color {
    font-size: 50px; 
    font-weight: 500;
    border-bottom: 4px solid #AF6900; /* adjust border as needed */
    padding-bottom: 3px;
  }
  .we-are {
    font-size: 35px !important;
    line-height: 0 !important; 
    padding-top: 40px; 
  }

  .alumbrados {
    font-size: 48px; /* match font size with Los */
    font-weight: 500; /* make Alumbrados bold */
    line-height: .5 !important;
  }

  .custom-text {
    font-size: 12px; /* adjust to match "We love our craft" size */
    line-height: 1.6;
  }

  .vision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px; /* adjust padding as needed */
    text-align: center;
  }
  
  .vision {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .vision-text {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    margin-bottom: 40px;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
  }

  .invitation {
    display: block; 
    margin: 0 auto; 
    width: 50%; /* adjust image width as needed */
    padding-bottom: 40px;
  }

  .mission-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 3fr; /* adjust column ratios */
    align-items: center;
  }

  .our-mission {
    grid-column: 1;
    white-space: nowrap;
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    text-align: left;
    padding-left: 18vw;
    font-weight: 500;
    margin-bottom: 20px; 
  }

  .carousel-nav-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto; 
    padding-right: 30vw;
    position: relative; 
  }

  .carousel-nav-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 0.3px; /* Thin base line */
    background-color: rgba(51, 51, 51, 0.3);
  }
  
  .carousel-nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: transparent;
  }
  
  .carousel-nav-item {
    display: inline-block;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    color: #1A1A1A;
    opacity: 0.6;
    margin: 0 40px;
    cursor: pointer;
    font-weight: 100;
    position: relative; 
  }
  
  .carousel-nav-item.active {
    color: #1A1A1A;
    font-weight: bold;
    opacity: .7;
  }

  .carousel-nav-item.active::after {
    content: "";
    position: absolute;
    bottom: -10px; /* adjust to match border thickness */
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* thicker border color */
    height: 2px;
    transform: scaleX(1); /* animation */
    z-index: 1; 
}

  .active-slide-title {
    color: #1A1A1A;
    font-weight: 80; /* or 700, 800, etc. */
  }

  .carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .carousel-text-wrapper {
    padding-left: 20px;
    padding-right: 12vw;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    text-align: left;
    border-left: 4px solid #AF6900;
    margin-left: 40vw; 
    height: 75px;
  }
  
  .carousel-title {
    font-size: 24px;
    font-weight: bold;
    color: #1A1A1A;
    margin-bottom: 10px;
  }
    
  .carousel-image {
    margin-top: 50px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .connect {
    color: #264D4C; 
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 15px;
  }

  .connect-container {
    text-align: center;
    padding-bottom: 50px; 
  }

  .connect-button {
    display: inline-block;
    margin: 20px auto; 
    text-align: center;
    font-family: "Libre Baskerville", serif;
    padding: 10px 20px;
    border-top: 1.5px solid #AF6900;
    border-bottom: 1.5px solid #AF6900;
    background-color: transparent;
    color: #264D4C;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .home-container {
      height: 100vh; /* adjust height for mobile */
      justify-content: center; /* center content vertically */
    }
  
    .text-container {
      font-size: 18px; /* reduce font size for mobile */
      padding-left: 10px; /* reduce padding for mobile */
      padding-bottom: 30px; /* reduce padding for mobile */
    }
  
    .bottom-text {
      margin-bottom: 15px; /* reduce margin for mobile */
      padding-left: 10px; /* reduce padding for mobile */
    }
  
    .bottom-text p {
      font-size: 12px; /* reduce font size for mobile */
      line-height: 1.2; /* adjust line height for mobile */
    }
    .vision-text {
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .connect {
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .connect-button {
        padding: 8px;
        font-size: 16px;
      }
    
      .invitation {
        width: 100%; /* adjust image width for mobile */
      }
    
      .custom-color {
        font-size: 9px;
      }
    
      .underline-color {
        font-size: 24px;
      }
    
      .alumbrados {
        font-size: 24px;
      }
    
      .we-are {
        font-size: 20px;
        padding-top: 15px;
      }
      .carousel-nav-container {
        padding-right: 10vw;
      }
    
      .carousel-text-wrapper {
        margin-left: 10vw;
      }
    
      .mission-container {
        grid-template-columns: 1fr;
      }
    
      .our-mission {
        padding-left: 10vw;
      }
  }
  